* {
    box-sizing: border-box;
}

span .header-links {
    color:red;
}

.green {
    color: #61E5C7;
}

body {
    font-family: sans-serif;
    text-align: center;
    padding: 50px;
}

img .logo {
    margin: auto;
    height: 200px;
    width: 100px;
}
h1 {
    font-weight: normal;
}
.frame {
    width: 50%;
    margin: auto;
}
iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1000%;
    width: 50%;
}
