html { 
  background: url('https://media.giphy.com/media/10Bb1Bq7BMi9Co/giphy.gif');
  background-color: coral 
}

h3 {
  color: cyan;
}

h2 {
	color: white;
	font-size: 50px;
}

ul {
	color: limegreen;
	font-size: 40px;
}

.title {
	background-color: mediumpurple;
}

.center {
	text-align: center;
}

.block {
	background-color: mediumpurple;
	display: inline-block;
}


.snake {
	background-color: white;
	display: inline-block;
}

.site-photo {
	width: 600px;
}