html { 
  background: url('https://media.giphy.com/media/10Bb1Bq7BMi9Co/giphy.gif');
  background-color: coral 
}

h3 {
  color: cyan;
}

.title {
	background-color: mediumpurple;
}

.center {
	text-align: center;
}

.block {
	background-color: black;
	display: inline-block;
}


.snake {
	background-color: white;
	display: inline-block;
}

.site-photo {
	width: 600px;
}